.project-filters
    display: flex
    justify-content: space-around
    button
        opacity: 0.8
        border: none
        border-radius: 0
        transition: opacity 0.5s
        margin-bottom: 1rem
    .selected
        opacity: 1
        font-weight: bold
        border-bottom: 1px solid