.react-tabs__tab-list
    display: flex
    list-style-type: none
    justify-content: space-around
    margin-block-start: 0
    margin-block-end: 0
    padding-inline-start: 0

    .react-tabs__tab 
        padding: 1rem
        cursor: pointer
        opacity: 0.8
        transition: all 0.5s
    
    .react-tabs__tab--selected
        opacity: 1
        font-weight: bold
        border-bottom: 1px solid 